<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>spam detection</title>
	<link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/kmeans.css' %}" rel="stylesheet">
</head>
<div class="container">
<header>
	<a href="http://localhost:8000/"><img id="logo" src='{% static 'spamfilter.jpg' %}'></a>
</header>
<body>	
	<div id="formulary"  name="formulaire"> <!-- rajoutez la fonction onsubmit="return validation ()" -->
		<form enctype="multipart/form-data" action="page2"method="POST">{% csrf_token %}
			<div class="row">
				<div id="form1"  class="col-md-3">
					<label for="dataset">Choix du Dataset:</label><input name ='docfile'type='file' id="dataset" />
				</div>
				<div id="form2" class="col-md-4">
					<label for="classes">K:</label> <input type="text"  name="classes" id="classes"/> <br><!-- rajoutez la fonction onblur="return verif1 ()"-->
					<label for="remove">N:</label> <input type="text" onblur="return verif1 ()" name="remove" id="remove"/> 
				</div>
			</div>
				<br>
				<button type="submit" class="btn btn-primary custom" > Ok</button>
				<button type="reset" class="btn btn-primary custom"> Clear</button>			
		</form>
		<hr>
	</div>
	<div id="affichage">
		
</body>
<footer>
	<div class="row" >
		<div class="col-md-6">
			Website created by<br>
			Abdesselam Gaia<br>
			Frechard Kevin<br>
			Kieffer Guillaume<br>
			Petrowski Ludovic<br>
		</div>
		<div class="col-md-6">
			&copy; 2016 Spam filter
		</div>	
	</div>
</footer>
</div>
</html>
